In [8]:
# Importación de librerías 

import requests # se usa para obtener los archivos de la web.
from io import StringIO #lectura de archivos extraídos de la web.

import pymysql # conexión a SQL
from sqlalchemy import create_engine, text # conexión a SQL
import psycopg2 # conexión a SQL

import pandas as pd
import os

In [2]:
# Se obtiene el archivo de la web.
bajada = requests.get('https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ente-de-turismo/oferta-establecimientos-gastronomicos/oferta_gastronomica.csv')
bajada.encoding = 'utf-8'

# Se extrae el contenido del documento en una variable.
contenido = bajada.content

# Se obtiene la información en un dataframe de pandas.
restaurantes = pd.read_csv(StringIO(contenido.decode("utf-8")),sep=",")
restaurantes.head()

,long,lat,id,nombre,categoria,cocina,ambientacion,telefono,mail,horario,calle_nombre,calle_altura,calle_cruce,direccion_completa,barrio,comuna,codigo_postal,codigo_postal_argentino
0,-58.363307,-34.622963,1602,GUANTANAMERA,RESTAURANTE,CUBANA,MODERNO,4314 0770,NaN,NaN,MOREAU DE JUSTO ALICIA,2092,NaN,"MOREAU DE JUSTO, ALICIA AV. 2092",Puerto Madero,Comuna 1,1107.0,C1107AFP
1,-58.392330,-34.621554,676,1843 VINACOTECA,VINERIA,NaN,NaN,4779 0806,NaN,lunes a domingo de 8 a 00,HUMBERTO 1º,1843,NaN,HUMBERTO 1º 1843,San Cristobal,Comuna 3,NaN,NaN
2,-58.453542,-34.560311,487,2080 EXPRESS,RESTAURANTE,TRADICIONAL,CLASICO PORTEÑO,4788 4500,NaN,lunes a domingo de 8 a 00,JURAMENTO,2080,NaN,JURAMENTO AV. 2080,Belgrano,Comuna 13,1428.0,C1428DNH
3,-58.475491,-34.677051,2737,22,CAFE,MINUTAS,MODERNO,NaN,NaN,NaN,MURGUIONDO,4188,NaN,MURGUIONDO 4188,Villa Lugano,Comuna 8,1439.0,C1439FTB
4,-58.425437,-34.585695,2,4 EN 2 I,RESTAURANTE,NaN,NaN,4832 9510,NaN,NaN,BORGES JORGE LUIS,2095,NaN,"BORGES, JORGE LUIS 2095",Palermo,Comuna 14,1425.0,C1425FFA

In [16]:
# Se obtienen los datos correspondientes a la consigna.
datos = restaurantes[["id","nombre", "categoria", "direccion_completa", "barrio", "comuna"]]
datos.rename(columns={"id":"idRest","direccion_completa":"direccion"},inplace=True)
datos.head()

C:\Users\dmon2\AppData\Local\Temp\ipykernel_12440\2074543336.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos.rename(columns={"id":"idRest","direccion_completa":"direccion"},inplace=True)

,idRest,nombre,categoria,direccion,barrio,comuna
0,1602,GUANTANAMERA,RESTAURANTE,"MOREAU DE JUSTO, ALICIA AV. 2092",Puerto Madero,Comuna 1
1,676,1843 VINACOTECA,VINERIA,HUMBERTO 1º 1843,San Cristobal,Comuna 3
2,487,2080 EXPRESS,RESTAURANTE,JURAMENTO AV. 2080,Belgrano,Comuna 13
3,2737,22,CAFE,MURGUIONDO 4188,Villa Lugano,Comuna 8
4,2,4 EN 2 I,RESTAURANTE,"BORGES, JORGE LUIS 2095",Palermo,Comuna 14

In [9]:
# Se obtiene la contraseña de MYSQL desde una variable de entorno
contraseña = os.getenv('MYSQL_PASSWORD')

# Se establece la conexión con el servidor de SQL en blanco
pool = create_engine(f'mysql+pymysql://root:{contraseña}@127.0.0.1:3306/')

# Se crea el database a trabajar
with pool.connect() as conn:
   conn.execute(text("CREATE DATABASE gastronomia"))

In [13]:
# Se establece la conexión con el database de gastronomia
engine = create_engine(f'mysql+pymysql://root:{contraseña}@127.0.0.1:3306/gastronomia')

# Se crea la tabla de restaurantes
with engine.connect() as conn:
    conn.execute(text("""
        drop table if exists restaurantes
                """))
    
    conn.execute(text("""
        CREATE TABLE restaurantes (
                idRest INT NOT NULL AUTO_INCREMENT, 
                nombre VARCHAR(100), 
                categoria VARCHAR(100), 
                direccion VARCHAR(100), 
                barrio VARCHAR(50), 
                comuna VARCHAR(50),
                PRIMARY KEY (idRest)
                )
                """))

In [17]:
# Se carga la base de datos a la tabla en SQL
datos.to_sql(name="restaurantes",con=engine,if_exists="append",index=False)

2823