# Homework clase 3

In [1]:
import numpy as np
import math

1. Suponga dos eventos, A y B, y que P(A) = 0.50, P(B) = 0.60 y P(A ∩ B) = 0.40.

a. Halle P(A | B).

b. Halle P(B | A).

c. ¿A y B son independientes? ¿Por qué sí o por qué no?

a. La probabilidad de A dado B es

$$P(A | B) = \frac{P(A \cap B)}{P(B)} = \frac{0.40}{0.60} = 0.67$$

b. La probabilidad de B dado A es

$$P(B | A) = \frac{P(A \cap B)}{P(A)} = \frac{0.40}{0.50} = 0.8$$

c. No son independiente porque 0.67 = P(A | B) $\neq$ P(A) = 0.50

2. Suponga dos eventos, A y B, que son mutuamente excluyentes. Admita, además, que P(A) = 0.30 y P(B) = 0.40.

a. Obtenga P(A ∩ B). ¿Existe intersección entre los dos conjuntos?.

b. Calcule P(A | B).

c. Un estudiante de estadística argumenta que los conceptos de eventos mutuamente excluyentes y eventos independientes son en realidad lo mismo y que si los eventos son mutuamente excluyentes deben ser también independientes. ¿Está usted de acuerdo? Use la información sobre las probabilidades para justificar su respuesta.

**Respuesta**

a. A y B son eventos excluyentes. Por lo tanto, el evento A $\cap$ B = { }. La probabilidad es, por lo tanto, P(A $\cap$ B) = 0 

b. La probabilidad de A dado B es:

$$P(A | B) = \frac{0}{0.40} = 0$$

c. Que dos sucesos sean excluyentes significa que no tienen puntos muestrales en común. Que sean independientes significa que la probabilidad condicional P(A | B) = P(A) o, alternativamente, que P(A $\cap$ B) = P(A)P(B).

Como lo demuestra el ejemplo anterior, dos eventos pueden ser excluyentes pero no independientes. Por lo tanto, no se trata de conceptos equivalentes.

Dada la siguiente tabla:

![autos](img/tablaest.png)

Si en la concesionaria se seleccionan dos ventas **con reposición** (Los sucesos son independientes.). Hallar la probabilidad de que las ventas sean:

a. La primera de un comprador de “menos de 40 años” y la segunda de uno de "entre 40 y 50 años".

b. las dos sean de autos "nacionales".

**Respuestas**


a. La probabilidad de que el primer comprador sea menor de 40 años es $\frac{30}{80}$

La probabilidad de que el segundo comprador tenga entre 40 y 50 es $\frac{34}{80}$

Dado que se trata de eventos independientes, podemos calcular la probabilidad de ambos eventos ocurran usando la **regla de la multiplicación**:

$$P(\{(\text{menos de 40}, \text{ entre 40 y 50})\} = P(\{\text{menos de 40}\}) \times P(\{\text{entre 40 y 50}\}) = \frac{30}{80} \times \frac{34}{80} = 0.16$$

b. El cálculo es similar al anterior:

$$P(\{(\text{nacional}, \text{ nacional})\} = P(\{\text{nacional}\}) \times P(\{\text{nacional}\}) = \frac{50}{80} \times \frac{50}{80} = 0.39$$

4. Si la selección de las dos ventas se realiza **sin reposición**. Hallar la probabilidad de que las ventas sean:

Los sucesos son condicionales.

a. la primera de un comprador de “menos de 40 años” y la segunda de uno de "entre 40 y 50 años".

b. las dos sean de autos "nacionales".

**Respuestas**

a. La probabilidad de que el primero sea menor de 40 años es $\frac{30}{80}$

La probabilidad de que el segundo tenga entre 40 y 50 es $\frac{34}{79}$. 

Por lo tanto, la probabilidad de que ambos eventos ocurran es:

$$P(\text{menos de 40}) \times P(\text{entre 40 y 50}) = \frac{30}{80} \times \frac{34}{79} = 0.16$$

b. La probabilidad de que el primero sea nacional es $\frac{50}{80}$.

La probabilidad de que el segundo sea nacional es $\frac{49}{79}$

La probabilidad de que ocurran los dos eventos es:

$$P(\text{nacional}) \times P(\text{nacional}) = \frac{50}{80} \times \frac{49}{79} = 0.39$$

5. Si la selección de las dos ventas se realiza sin reposición. Hallar la probabilidad de que las ventas sean:

Los sucesos son condicionales.

a. De un comprador de “menos de 40 años” y de uno de "entre 40 y 50 años". Sin importar el orden.

Esto quiere decir de que el par (menos de 40, entre 40 y 50) y el par (entre 40 y 50, menos de 40) satisfacen la consigna.

La probabilidad del primer par es, como se vio:

$$P(\text{menos de 40}) \times P(\text{entre 40 y 50}) = \frac{30}{80} \times \frac{34}{79} = 0.16$$

La probabilidad del segundo par es:

$$P(\text{entre 40 y 50}) \times P(\text{menos de 40}) = \frac{34}{80} \times \frac{30}{79} = 0.16$$

La probabilidad de que ocurra cualquiera de esos dos eventos (que no tienen puntos muestrales en común) se obtiene mediante la regla de la suma para **eventos excluyentes**

$$P(A \cup B) = P(A) + P(B) = 0.16 + 0.16 = 0.32$$

6. Debido al aumento de los costos de los seguros, en un país de 43 millones de personas, hay personas que no cuentan con un seguro médico. En la tabla siguiente se muestran datos muestrales representativos de la cantidad de personas que cuentan con seguro médico:

![Seguro](img/seguro.png)

a. Con estos datos elabore una tabla de probabilidad conjunta y úsela para responder las preguntas restantes.

b. ¿Qué indican las probabilidades marginales acerca de la edad de la población?

c. ¿Cuál es la probabilidad de que una persona tomada en forma aleatoria no tenga seguro médico?

d. Si la persona tiene entre 18 y 34 años, ¿cuál es la probabilidad de que no tenga seguro médico?

e. Si la persona tiene 35 años o más ¿cuál es la probabilidad de que no tenga seguro médico?

f. Si la persona no tiene seguro médico, ¿cuál es la probabilidad de que tenga entre 18 y 34 años?

In [2]:
df_dict = {
    "Sí": [750, 950],
    "No": [170, 130]
}

In [3]:
import pandas as pd

df = pd.DataFrame(df_dict, index=["18 a 34", "35 o mayor"])

In [4]:
df

             Sí   No
18 a 34     750  170
35 o mayor  950  130

In [5]:
total = np.sum(np.array(df))

In [6]:
750/total

0.375

In [7]:
df.loc["Total"] = [np.sum(df['Sí']), np.sum(df["No"])]

In [8]:
df

              Sí   No
18 a 34      750  170
35 o mayor   950  130
Total       1700  300

In [9]:
df['Total'] = [df["Sí"][i] + df["No"][i] for i in range(df.shape[0])]

In [10]:
df

              Sí   No  Total
18 a 34      750  170    920
35 o mayor   950  130   1080
Total       1700  300   2000

In [11]:
df = df[["Sí", "No", "Total"]] / total

In [12]:
df

               Sí     No  Total
18 a 34     0.375  0.085   0.46
35 o mayor  0.475  0.065   0.54
Total       0.850  0.150   1.00

b. Que el 46% de la población adulta tiene entre 18 y 34 años y el resto más de 35 años.

c. La probabilidad de que una persona de cualquier edad tomada al azar no tenga seguro médico es del 15%

d. La probabilidad de que una persona entre 18 y 34 años no tenga seguro médico es:

P(No | 18 a 34) = $\frac{0.085}{0.46}$ = 0.18

e. La probabilidad de que una persona de al menos 35 años no tenga seguro es:

P(No | 35 ó más) = $\frac{0.065}{0.54}$ = 0.12

f. La probabilidad de que una persona tenga entre 18 y 34 dado que no tiene seguro es:

P(18 a 34 | No) = $\frac{0.085}{0.15}$ = 0.57

In [13]:
0.085/0.15

0.5666666666666668