In [1]:
# Iniciar conexión

In [2]:
from sqlalchemy import create_engine
import pymysql
import psycopg2
import pandas as pd

In [3]:
cordobaCentro = pd.read_excel("Tablas Sucursales Córdoba/Comisiones Córdoba Centro.xlsx")
cordobaCentro.head()

,CodigoEmpleado,IdSucursal,Apellido_y_Nombre,Sucursal,Anio,Mes,Porcentaje
0,3110,25,"Peláez, Jessica",Córdoba Centro,2019,4,18
1,3110,25,"Peláez, Jessica",Córdoba Centro,2019,8,8
2,3110,25,"Peláez, Jessica",Córdoba Centro,2019,9,9
3,3110,25,"Peláez, Jessica",Córdoba Centro,2020,3,15
4,3110,25,"Peláez, Jessica",Córdoba Centro,2020,4,16

In [5]:
cordobaCerro = pd.read_excel("Tablas Sucursales Córdoba/Comisiones Córdoba Cerro de las Rosas.xlsx")
cordobaCentro.head()

,CodigoEmpleado,IdSucursal,Apellido_y_Nombre,Sucursal,Anio,Mes,Porcentaje
0,3110,25,"Peláez, Jessica",Córdoba Centro,2019,4,18
1,3110,25,"Peláez, Jessica",Córdoba Centro,2019,8,8
2,3110,25,"Peláez, Jessica",Córdoba Centro,2019,9,9
3,3110,25,"Peláez, Jessica",Córdoba Centro,2020,3,15
4,3110,25,"Peláez, Jessica",Córdoba Centro,2020,4,16

In [6]:
cordobaQuiroz = pd.read_excel("Tablas Sucursales Córdoba/Comisiones Córdoba Quiróz.xlsx")
cordobaQuiroz.head()

,CodigoEmpleado,IdSucursal,Apellido_y_Nombre,Sucursal,Anio,Mes,Porcentaje
0,3032,26,"Rico, Julieta",Córdoba Quiroz,2019,9,11
1,3032,26,"Rico, Julieta",Córdoba Quiroz,2019,10,18
2,3032,26,"Rico, Julieta",Córdoba Quiroz,2019,1,7
3,3032,26,"Rico, Julieta",Córdoba Quiroz,2019,11,7
4,3032,26,"Rico, Julieta",Córdoba Quiroz,2019,3,8

In [7]:
## conex = create_engine('mysql+pymysql://root:Alaver_456@localhost:3306/henry_3') -- Conexión casa mia
conex = create_engine('mysql+pymysql://root:Abc123@localhost:3306/henry_checkpoint_m3') # Conexión casa cris

In [8]:
cordobaCentro.to_sql(name="cordoba_centro",con=conex,if_exists="replace",index=False)

189

In [9]:
cordobaCerro.to_sql(name="cordoba_cerro",con=conex,if_exists="replace",index=False)

128

In [10]:
cordobaQuiroz.to_sql(name="cordoba_quiroz",con=conex,if_exists="replace",index=False)

223